# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Sanal ortam
.venv/
venv/
env/

# Editör / IDE
.vscode/
.idea/
*.swp
.DS_Store

# Test / kapsam
.pytest_cache/
.coverage
htmlcov/
